<div class="page-header">
	<h2>The best news!</h2>
</div>


<div ng-repeat="post in posts | orderBy: '-upvotes'">

	<span ng-click="incrementUpvotes(post)" id="postPlus"><md-icon md-svg-src = 'images/svg/heart2.svg'></md-icon></span>
	<span id="postNumber" class="upvotes">{{post.upvotes}} </span><span ng-click="decreaseDownvotes(post)" id="postMin"><md-icon md-svg-src = 'images/svg/heart3.svg'></md-icon></span>
	<span style="margin-left: 10px; font-size: 20px;">
        <span ng-show="post.author">
          posted by <a>{{post.author}}</a> |
        </span>
	<a href={{post.link}} ng-show="post.link">{{post.title}}</a>
	<span ng-hide="post.link">{{post.title}}</span>
	<span><a href="#/posts/{{post._id}}">Comments</a></span>
	</span>
</div>

<form ng-submit="addPost()" ng-show="isLoggedIn()" style="margin-top:10px;">
	<div class="form-group">
		<input class="form-control" placeholder="Title" type="text" ng-model="title">
	</div>
	<div class="form-group">
		<input class="form-control" placeholder="Link" type="text" ng-model="link">
	</div>

	<md-button type="submit" class="md-raised md-primary" ng-mouseenter="hover = true" ng-mouseleave="hover = false">Click me</md-button>
</form>
<div ng-hide="isLoggedIn()">
	<h3>You need to <a href="/#/login">log In</a> or <a href="/#/register">register</a> before you can add a post.</h3>
</div>