<div ng-show="error" class="alert alert-danger row">
	<span>{{ error.message }}</span>
</div>

<form ng-submit="logIn()" style="margin-top:30px;">
	<h3>Log In</h3>

	<div class="form-group">
		<input type="text" class="form-control" placeholder="Username" ng-model="user.username"></input>
	</div>
	<div class="form-group">
		<input type="password" class="form-control" placeholder="Password" ng-model="user.password"></input>
	</div>
	<md-button type="submit" class="md-raised md-primary" ng-mouseenter="hover = true" ng-mouseleave="hover = false">Log in</md-button>

</form>