<div class="page-header">
  <h3>
        <a href={{post.link}} ng-show="post.link">{{post.title}}</a>
        <span ng-hide="post.link">{{post.title}}</span>
      </h3>
</div>
<div ng-repeat="comment in post.comments | orderBy: '-upvotes'">
  <span ng-click="incrementUpvotes(comment)"><md-icon md-svg-src = 'images/svg/heart2.svg'></md-icon></ng-md-icon></span>  <span class="upvotes">{{comment.upvotes}} </span><span ng-click="decreaseDownvotes(comment)"><md-icon md-svg-src = 'images/svg/heart3.svg'></md-icon></ng-md-icon></span>  - by {{comment.author}}

  <span style="font-size:20px; margin-top: 10px;">
        {{comment.body}}
      </span>
</div>

<form ng-submit="addComment()" ng-show="isLoggedIn()" style="margin-top: 30px;">
  <h3>Add a new Comment</h3>
  <div class="form-group">
    <input class="form-control" ng-model="body" placeholder="Comment" type="text" />
  </div>
  <md-button type="submit" class="md-raised md-primary" ng-mouseenter="hover = true" ng-mouseleave="hover = false">Add</md-button>
</form>
<div ng-hide="isLoggedIn()">
  <h3>You need to <a href="/#/login">log In</a> or <a href="/#/register">register</a> before you can comment.</h3>
</div>