<html>

<head>
  <title>Pew Pew News!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/animate.css">

  <meta name="viewport" content="initial-scale=1" />
</head>

<body ng-app="pewpewNews" layout="column" ng-controller="AppCtrl">
  
 <md-toolbar layout="row">
    <md-icon md-svg-src='images/svg/pacman.svg' class="pacman"></md-icon>
        <div class="md-toolbar-tools">
          
            <md-button ng-click="toggleSidenav('left')" hide-gt-md class="md-icon-button">
                <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
            </md-button>
            
              <h1>Pew Pew News</h1>
        </div>
    </md-toolbar>
  
  <div layout="row" flex ng-controller="NavCtrl">
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" 
        md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

      <!-- for tall toolbar -->
      <!--<md-toolbar class="md-tall md-hue-2">-->
      <md-toolbar class="md-hue-2">
        <!--<span flex></span>-->
        <div layout="column" class="md-toolbar-tools-bottom inset" ng-show="isLoggedIn()">
          <!-- TODO: avatar? -->
          <!-- <user-avatar></user-avatar>
          <span></span>-->
          <div>{{ currentUser() }}</div>
          <div>{{ currentUser() }}@pewpew.com</div>
        </div>
        <div layout="column" class="md-toolbar-tools-bottom inset" ng-hide="isLoggedIn()">
          <!-- TODO: avatar? -->
          <!-- <user-avatar></user-avatar>
          <span></span>-->
          <div><p>Welcome to Pew Pew News</p>
          <p>Register or log in to see the best gaming info!</p></div>
        </div>
      </md-toolbar>
      <md-content>
        <md-item role="listitem">
          <a ng-href="/#/home">
            <md-item-content md-ink-ripple layout="row">
              <!-- TODO: Add icons -->
              <div class="inset">
                <md-icon md-svg-src = 'images/svg/gamepad.svg'></md-icon>
              </div>
              <div class="inset">Home</div>
            </md-item-content>
          </a>
        </md-item>
      </md-content>
      <md-content>
        <md-item ng-hide="isLoggedIn()" role="listitem">
          <a ng-href="/#/login">
            <md-item-content md-ink-ripple layout="row">
              <!-- TODO: Add icons -->
              <div class="inset">
                  <md-icon md-svg-src = 'images/svg/switch.svg'></md-icon>
              </div>
              <div class="inset">Log in</div>
            </md-item-content>
          </a>
        </md-item>
      </md-content>
      <md-content>
        <md-item ng-show="isLoggedIn()">
          <a ng-href="#" ng-click="logOut()">
            <md-item-content md-ink-ripple layout="row" layout-align="start center">
              <!-- TODO: Add icons -->
              <div class="inset">
                <md-icon md-svg-src = 'images/svg/switch.svg'></md-icon>
              </div>
              <div class="inset">Log out</div>
            </md-item-content>
          </a>
        </md-item>
      </md-content>
      <md-content>
        <md-item ng-hide="isLoggedIn()">
          <a ng-href="/#/register">
            <md-item-content md-ink-ripple layout="row" layout-align="start center">
              <!-- TODO: Add icons -->
              <div class="inset">
                        <md-icon md-svg-src = 'images/svg/batman.svg'></md-icon>
              </div>
              <div class="inset">Register</div>
            </md-item-content>
          </a>
        </md-item>
      </md-content>
    </md-sidenav>

      <div layout="column" flex id="content">
        <md-content layout="column" flex class="md-padding">
          <div ng-controller="SliderCtrl">
            <slider images="images"  />
          </div>
          <div id="ui-view" flex ui-view>
          </div>
        </md-content>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>
  <script src="http://code.angularjs.org/1.2.9/angular-animate.min.js"></script>
  
  <script src="/javascripts/app.module.js"></script>
  <script src="/javascripts/app.config.js"></script>
  <script src="/javascripts/directives/slider.directive.js"></script>
  <script src="/javascripts/factory/authFactory.js"></script>
  <script src="/javascripts/factory/postFactory.js"></script>
  <script src="/javascripts/controller/main.controller.js"></script>
  <script src="/javascripts/controller/auth.controller.js"></script>
  <script src="/javascripts/controller/nav.controller.js"></script>
  <script src="/javascripts/controller/posts.controller.js"></script>
  <script src="/javascripts/controller/app.controller.js"></script>
  <script src="/javascripts/controller/slider.controller.js"></script>
</body>

</html>