body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.glyphicon-thumbs-up:hover {
      cursor: hand;
}

md-card {
  background-color: #fff;
}


a{
  color:#EA638C;
}

a:hover{
  text-decoration: none;
  color: #690043 ;
}

md-toolbar.md-default-theme{
  background-color: #9C0063;
}

md-toolbar.md-hue-2.md-default-theme{
  background-color: #690043 ;
}

#postNumber, #postPlus, #postMin{
  padding:  5px;
  
}

button.md-raised.md-primary.md-button.md-default-theme{
  background-color: #690043;
}


button.md-raised.md-primary.md-button.md-default-theme:not([disabled]):hover {
  background-color: #9C0063;
}

span.upvotes{
  min-width: 50px;
  display: inline-block;
  text-align: center;
}
