<div class="slider">
  <div class="slide" ng-repeat="image in images" ng-show="image.visible">
    <img ng-src="images/{{image.src}}" />
  </div>
  <div class="arrows">
    <a href="#" ng-click="prev()">
      <ng-md-icon icon="arrow_back"></ng-md-icon>
    </a>
    <a href="#" ng-click="next()">
      <ng-md-icon icon="arrow_forward"></ng-md-icon>
    </a>
  </div>
</div>